@import "tailwindcss";

/* Oxanium local */
@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium/static/Oxanium-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium/static/Oxanium-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium/static/Oxanium-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium/static/Oxanium-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium/static/Oxanium-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium/static/Oxanium-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium/static/Oxanium-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Use variable font for better performance */
@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium/Oxanium-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}


/* Application globale */
@layer base {
  html {
    font-family: "Oxanium", ui-sans-serif, system-ui;
  }
}
